@using WebsiteBanXeMay.Models
@model KHUYENMAI
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Hiệu chỉnh khuyến mãi có mã: @Model.MAKM</h4>
</div>
<div class="modal-body">
    <form name="KhuyenMai_Form">
        @Html.AntiForgeryToken()
        <div class="row">
            <input name="MAKM" type="hidden" value="@Model.MAKM"/>
            <div class="col-md-12">
                <label>Tên khuyến mãi<span class="required">*</span></label>
                <input placeholder="Tên khuyến mãi" name="TENKM" class="form-control" value="@Model.TENKM" type="text">
            </div>
            <div class="col-md-6" style="margin-top:2%">
                <label>Ngày bắt đầu<span class="required">*</span></label>
                <input placeholder="Ngày bắt đầu" name="NGAYBATDAU" class="form-control" value="@Model.NGAYBATDAU.ToString("yyyy-MM-ddThh:mm")" type="datetime-local">
            </div>
            <div class="col-md-6" style="margin-top:2%">
                <label>Ngày kết thúc<span class="required">*</span></label>
                <input placeholder="Ngày kết thúc" name="NGAYKETTHUC"  class="form-control"value="@Model.NGAYKETTHUC.ToString("yyyy-MM-ddThh:mm")" type="datetime-local">
            </div>
            <div class="col-md-12" style="margin-top:2%">
                <label>Mô tả</label>
                <textarea class="form-control" name="MOTA" rows="7" >@Model.MOTA</textarea>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger pull-right" data-dismiss="modal"><i class="fa fa-close" title="Đóng"></i></button>
    <button type="button" class="btn btn-success" onclick="SuaKhuyenMai()" style="margin-right:3%!important"><i class="fa fa-save" title="Lưu"></i></button>
</div>





