@using WebsiteBanXeMay.ViewModels;
@using WebsiteBanXeMay.Common;
@{
    ViewBag.Title = "Chi tiết loại sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ChiTietLoaiSanPhamViewModel LoaiSanPham = ViewBag.LoaiSanPham as ChiTietLoaiSanPhamViewModel;
    var TaiKhoanViewModel = Context.Session[Constant.SESSION_TAIKHOAN] as TaiKhoanViewModel;}
<style>
    .convertImage {
        height: 300px;
        width: 300px;
        margin-right: auto;
        object-fit: contain
    }

    .colorContent {
        color: #666;
    }

    .Quantity {
        color: black !important;
        font-size: 16px
    }

    .hidden {
        display: none;
    }
</style>

<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="">Sản phẩm</a></li>
                <li class="active">Chi tiết sản phẩm</li>
            </ul>
        </div>
    </div>
</div>

<div class="content-wraper">
    <div class="container">
        <div class="row single-product-area">
            <div class="col-lg-5 col-md-6">
                <div class="product-details-left sp-tab-style-left-page">
                    <div class="product-details-images slider-navigation-1 mt-50">
                        <div class="lg-image">
                            <a class="popup-img venobox vbox-item" href="@Url.Content("~/Assets/upload/images/"+LoaiSanPham.HINHANH)" data-gall="myGallery">
                                <img class="convertImage" src="@Url.Content("~/Assets/upload/images/"+LoaiSanPham.HINHANH)" alt="@LoaiSanPham.HINHANH ">
                            </a>
                        </div>
                    </div>
                    <div class="tab-style-left">
                        <div class="sm-image"><img class="convertImageSmall" src="@Url.Content("~/Assets/upload/images/"+LoaiSanPham.HINHANH)" alt="@LoaiSanPham.HINHANH "></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 col-md-6">
                <div class="product-details-view-content pt-20">
                    <div class="product-info">
                        <h2>@LoaiSanPham.TENLOAI</h2>
                        <span class="product-details-ref">Thương hiệu: @LoaiSanPham.TENTH</span>
                        <div class="rating-box pt-20">
                            <ul class="rating rating-with-review-item">
                                @for (int i = 0; i < LoaiSanPham.MUCDANHGIA; i++)
                                {
                                    <li><i class="fa fa-star"></i></li>
                                }
                                @for (int i = 0; i < 5 - LoaiSanPham.MUCDANHGIA; i++)
                                {
                                    <li class="no-star"><i class="fa fa-star"></i></li>
                                }
                                <li>
                                    <span class="colorContent">
                                        <span style="margin:10px 10px;color:#c8c8c8 !important">|</span>
                                        <span class="Quantity">@LoaiSanPham.SOLUONGDANHGIA</span> Đánh giá
                                    </span>
                                </li>
                                <li>
                                    <span class="colorContent">
                                        <span style="margin:10px 10px;color:#c8c8c8 !important">|</span>
                                        <span class="Quantity">@LoaiSanPham.SOLUONGDABAN</span>  Đã bán
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="price-box pt-20">
                            @if (LoaiSanPham.PHANTRAM > 0)
                            {
                                <span class="new-price new-price-2 money">
                                    @LoaiSanPham.GIAKM
                                </span>
                                <span class="old-price money colorContent" style="text-decoration:line-through;margin-left:2%">
                                    @LoaiSanPham.GIA
                                </span>
                                <span class="discount-percentage" style="color:red;margin-left:2%">@LoaiSanPham.PHANTRAM %</span>
                            }
                            else
                            {
                                <span class="new-price new-price-2 money">
                                    @LoaiSanPham.GIA
                                </span>
                            }
                        </div>
                        @if (LoaiSanPham.NGAYKETTHUCKM != null)
                        {
                            <div class="product-desc">
                                <p><span> Giá và khuyến mãi dự kiến áp dụng đến @LoaiSanPham.NGAYKETTHUCKM.Value.ToString("dd/MM") </span> </p>
                                @if (LoaiSanPham.lstSANPHAMTANGKEM != null && LoaiSanPham.lstSANPHAMTANGKEM.Count() > 0)
                                {
                                    foreach (var SanPhamTangKem in LoaiSanPham.lstSANPHAMTANGKEM)
                                    {
                                        <p><i class="fa fa-check-square-o"></i><span> Tặng @SanPhamTangKem.SOLUONGSPTK @SanPhamTangKem.TENSPTK </span> </p>
                                    }
                                }
                            </div>

                        }
                        <div class="single-add-to-cart">
                            @using (Ajax.BeginForm("ThemGioHang",
                                                "GioHang",
                                                new {MaLoai = LoaiSanPham.MALOAI},
                                                new AjaxOptions
                                                {
                                                    HttpMethod = "POST",
                                                    InsertionMode = InsertionMode.Replace,
                                                    UpdateTargetId = "GioHangID",
                                                    OnFailure = "OnFailure"
                                                },
                                                new { @class = "cart-quantity" }))
                            {
                                <div class="quantity">
                                    <label>Số lượng</label>
                                    <div class="cart-plus-minus">
                                        <input class="cart-plus-minus-box" name="SoLuong" value="1" type="text" readonly>
                                        <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                        <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                    </div>
                                </div>
                                <button class="add-to-cart" type="submit">Thêm vào giỏ</button>
                            }
                        </div>
                        <div class="QuantityInStock hidden">
                            <span>Số lượng tồn còn @LoaiSanPham.SOLUONGTON sản phẩm</span>
                        </div>
                        <div class="product-additional-info pt-25">
                            <div class="product-social-sharing pt-25">
                                <ul>
                                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
                                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
                                    <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i>Google +</a></li>
                                    <li class="instagram"><a href="#"><i class="fa fa-instagram"></i>Instagram</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="block-reassurance">
                            <ul>
                                <li>
                                    <div class="reassurance-item">
                                        <div class="reassurance-icon">
                                            <i class="fa fa-check-square-o"></i>
                                        </div>
                                        <p>Chính sách ưu đãi tuyệt vời</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="reassurance-item">
                                        <div class="reassurance-icon">
                                            <i class="fa fa-truck"></i>
                                        </div>
                                        <p>Giao hàng tận nơi từ cửa hàng gần nhất</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="reassurance-item">
                                        <div class="reassurance-icon">
                                            <i class="fa fa-exchange"></i>
                                        </div>
                                        <p>Chính sách hoàn trả khi có hư hỏng trong vòng 1 tháng</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product-area pt-35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="li-product-tab">
                    <ul class="nav li-product-menu">
                        <li><a class="active" data-toggle="tab" href="#description"><span>Mô tả</span></a></li>
                        <li><a data-toggle="tab" href="#reviews"><span>Đánh giá</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div id="description" class="tab-pane active show" role="tabpanel">
                <div class="product-description">
                    <span>@Html.Raw(LoaiSanPham.MOTA)</span>
                </div>
            </div>
            <div id="reviews" class="tab-pane" role="tabpanel">
                <div class="product-reviews" style="padding: 0 0 !important">
                    <div class="product-details-comment-block">
                        <div class="comment-details">
                            @Html.Action("Index", "DanhGia", new { MaLoai = LoaiSanPham.MALOAI })
                        </div>
                        @if (TaiKhoanViewModel != null && ViewBag.KiemTraChoPhepDanhGia == true)
                        {
                            @Html.Action("DanhGiaPartial", "DanhGia", new { MaLoai = LoaiSanPham.MALOAI })
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Action("LoaiSanPhamLienQuanPartial", "LoaiSanPham", new { MaLoai = LoaiSanPham.MALOAI })


<script>
    var model = @Html.Raw(Json.Encode(LoaiSanPham));
    $(".cart-plus-minus").append('<div class="dec qtybutton"><i class="fa fa-angle-down"></i></div><div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>');
    $(".qtybutton").on("click", function () {
        var $button = $(this);
        var oldValue = $button.parent().find("input").val();
        if ($button.hasClass('inc')) {
            var newVal = parseFloat(oldValue);
            if (newVal == model.SOLUONGTON) {
                newVal = parseFloat(oldValue);
                $(".QuantityInStock").removeClass('hidden');
            }
            else {
                var newVal = parseFloat(oldValue) + 1;
                $(".QuantityInStock").addClass('hidden');
            }
        } else {
            if (oldValue > 1) {
                var newVal = parseFloat(oldValue) - 1;
            } else {
                newVal = 1;
            }
            $(".QuantityInStock").addClass('hidden');
        }
        $button.parent().find("input").val(newVal);
    });

    $(document).ready(function () {
        $('.submitReview').click(function () {
            $(this).submit();
        })
    })
</script>
