@using WebsiteBanXeMay.ViewModels;
@model DanhGiaViewModel
@if (Model != null)
{
    <div class="review-btn">
        <a class="review-links" href="#" data-toggle="modal" data-target="#mymodal">Đánh giá</a>
    </div>
    <div class="modal fade modal-wrapper" id="mymodal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 class="review-page-title">Đánh giá</h3>
                    <div class="modal-inner-area row">
                        <div class="col-lg-5">
                            <div class="li-review-product">
                                <img src="@Url.Content("~/Assets/upload/images/"+Model.HINHANH)" alt="@Model.HINHANH">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="li-review-content">
                                <div class="feedback-area">
                                    <div class="feedback">
                                        <h3 class="feedback-title">@Model.TENLOAI</h3>
                                        @using (Ajax.BeginForm("ThemDanhGia",
                                            new AjaxOptions
                                            {
                                                HttpMethod = "POST",
                                                InsertionMode = InsertionMode.Replace,
                                                UpdateTargetId = "DanhGiaID",
                                                OnSuccess = "OnSuccess",
                                                OnFailure = "OnFailure"
                                            }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary()
                                            <input type="hidden" name="MAKH" value="@Model.MAKH" />
                                            <input type="hidden" name="MALOAI" value="@Model.MALOAI" />
                                            <p class="your-opinion">
                                                <label>Đánh giá</label>
                                                <span>
                                                    <select class="star-rating" name="MUCDANHGIA">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </span>
                                            </p>
                                            <p class="feedback-form">
                                                <label for="feedback">Nội dung</label>
                                                <textarea id="feedback" name="NOIDUNG" cols="45" rows="8" aria-required="true">@Html.Raw(Model.NOIDUNG)</textarea>
                                            </p>
                                            @Html.ValidationMessageFor(model => model.NOIDUNG, "", new { @class = "text-danger" })
                                            <div class="feedback-input">
                                                <div class="feedback-btn pb-15 f-right">
                                                    <button class="register-button mt-0 " style="width:100%">Đăng</button>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    var model = @Html.Raw(Json.Encode(Model));
    $(".star-rating option").each(function () {
        var value = parseInt(this.value);
        var MucDanhGia = model.MUCDANHGIA;
        if (value === MucDanhGia) {
            $(this).attr('selected','selected');
            return false;
        }
    });
    </script>
}