@using WebsiteBanXeMay.Utils;
@model PageUtil
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="">
    @*content-wrapper*@
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Nhân viên
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i> Danh mục</li>
            <li><a href="#">Quản lý nhân viên</a></li>
            <li class="active">Phân công giao hàng</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Danh sách nhân viên giao hàng</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tr>
                                <th>Mã nhân viên</th>
                                <th style="width:30%">Họ tên nhân viên</th>
                                <th>Quận phụ trách</th>
                                <th>Tác vụ</th>
                            </tr>
                            @if (Model.Data.Count() > 0)
                            {
                                foreach (var NhanVienViewModel in Model.PaginatedResult())
                                {
                                    <tr>
                                        <td>@NhanVienViewModel.MANV</td>
                                        <td>
                                            @(NhanVienViewModel.HO+" "+ NhanVienViewModel.TEN)
                                        </td>
                                        <td>
                                           @foreach(var PhuTrach in NhanVienViewModel.lstQuan)
                                           {
                                               <span style="margin-left:3%">@PhuTrach.TENQUAN</span>
                                           }
                                        </td>
                                        <td>
                                            <a href="#" role="button" onclick="getSuaNhanVien('@NhanVienViewModel.MANV')" title="Hiệu chỉnh" class="btn btn-primary"><i class="fa fa-edit"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7" class="text-center"><span>Không có dữ liệu</span></td>
                                </tr>
                            }
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li>
                                @Html.ActionLink("Trước", "Index", new { Trang = Model.CurrentPage > 1 ? Model.CurrentPage - 1 : 1 }, null)
                            </li>
                            @for (int page = 1; page <= Model.PageCount(); page++)
                            {
                                <li class="@(page == Model.CurrentPage ? " active" : null)">
                                    @Html.ActionLink(page.ToString(), "Index", new { Trang = page }, null)
                                </li>
                            }
                            <li>
                                @Html.ActionLink("Sau", "Index", new { Trang = Model.CurrentPage < Model.PageCount() ? Model.CurrentPage + 1 : Model.PageCount() }, null)
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>



<div class="modal fade" id="NhanVien_Modal" role="dialog" aria-labelledby="NhanVien_ModalLable" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="NhanVien_ModalBody">

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    function getThemNhanVien() {
        $.ajax({
            type: "GET",
            url: "/Admin/NhanVien/ThemNhanvienPartial",
            success: function (res) {
                $("#NhanVien_ModalBody").html(res);
                $("#NhanVien_Modal").modal('show')
            }
        })
    };

    function getSuaNhanVien(MaNV) {
        $.ajax({
            type: "GET",
            url: "/Admin/NhanVien/SuaNhanVienPartial?MaNV=" + MaNV,
            success: function (res) {
                $("#NhanVien_ModalBody").html(res);
                $("#NhanVien_Modal").modal('show')
            }
        })
    };

    function ThemNhanVien() {

        Swal.fire({
            title: 'Xác nhận thêm?',
            text: "Khi bấm xác nhận dữ liệu không vi phạm điều kiện sẽ được thêm!",
            icon: 'question',
            customClass: 'swal-wide',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'hủy',
            confirmButtonText: 'Xác nhận',
            allowOutsideClick: false
        }).then((result) => {
            if (result.isConfirmed) {
                var form = $('form[name="ThemNhanVien_Form"]');

                form.validate();
                if (!form.valid()) {
                    return;
                }
                else {
                    var data = form.serialize();
                    $.ajax({
                        type: "POST",
                        url: "/Admin/NhanVien/ThemNhanVien",
                        data: data,
                        dataType: "json",
                        success: function (res) {
                            if (res.error == false) {
                                Swal.fire({
                                    title: 'Thành công!',
                                    text: res.title,
                                    icon: 'success',
                                    customClass: 'swal-wide',
                                }).then((d) => {
                                    if (d.isConfirmed) {
                                        $("#NhanVien_Modal").modal('hide')
                                        location.reload();
                                    }
                                });
                            }
                            else {
                                Swal.fire({
                                    title: 'Lỗi!',
                                    text: res.title,
                                    icon: 'error',
                                    customClass: 'swal-wide',
                                })
                                return;
                            }
                        }
                    })
                }
            }
        })
    }

    function SuaNhanVien() {

        Swal.fire({
            title: 'Xác nhận hiệu chỉnh?',
            text: "Khi bấm xác nhận dữ liệu không vi phạm điều kiện sẽ được hiệu chỉnh!",
            icon: 'question',
            customClass: 'swal-wide',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'hủy',
            confirmButtonText: 'Xác nhận',
            allowOutsideClick: false
        }).then((result) => {
            if (result.isConfirmed) {
                var form = $('form[name="SuaNhanVien_Form"]');

                form.validate();
                if (!form.valid()) {
                    return;
                }
                else {
                    var data = form.serialize();
                    $.ajax({
                        type: "POST",
                        url: "/Admin/NhanVien/SuaNhanVien?MaNQ='s'",
                        data: data,
                        dataType: "json",
                        success: function (res) {
                            if (res.error == false) {
                                Swal.fire({
                                    title: 'Thành công!',
                                    text: res.title,
                                    icon: 'success',
                                    customClass: 'swal-wide',
                                }).then((d) => {
                                    if (d.isConfirmed) {
                                        $("#NhanVien_Modal").modal('hide')
                                        location.reload();
                                    }
                                })
                            }
                            else {
                                Swal.fire({
                                    title: 'Lỗi!',
                                    text: res.title,
                                    icon: 'error',
                                    customClass: 'swal-wide',
                                })
                                return;
                            }
                        }
                    })
                }
            }
        })
    }

</script>