@using WebsiteBanXeMay.Utils;
@using WebsiteBanXeMay.Models
@model PageUtil
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@{ var lstQuan = ViewBag.lstQuan as IEnumerable<QUAN>;}
<div class="">
    @*content-wrapper*@
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Khách hàng
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i> Danh mục</li>
            <li><a href="#">Quản lý danh mục</a></li>
            <li class="active">Khách hàng</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <form action="/Admin/KhachHang" method="get">
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Email</label>
                                    <input type="text" name="EMAIL" value="@ViewBag.EMAIL" class="form-control" />
                                </div>
                                <div class="col-md-3">
                                    <label>Số điện thoại</label>
                                    <input type="text" name="SDT" value="@ViewBag.SDT" class="form-control" />
                                </div>
                                <div class="col-md-1" style="margin-top:2.3%">
                                    <button title="Tìm kiếm" class="btn btn-info"><i class="fa fa-search"></i></button>
                                </div>
                            </div>

                        </form>
                        <h3 class="box-title" style="margin-top:3%">Danh sách có: <span style="color:red">@(Model.Data.Count() > 0 ? Model.Data.Count() : 0 )</span>  khách hàng</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tr>
                                <th>Mã khách hàng</th>
                                <th style="width:30%">Thông tin khách hàng</th>
                                <th>Email</th>
                                <th>Số điện thoại</th>
                                <th>Tác vụ</th>
                            </tr>
                            @if (Model.Data.Count() > 0)
                            {
                                foreach (var KhachHangViewModel in Model.PaginatedResult())
                                {
                                    <tr>
                                        <td>@KhachHangViewModel.MAKH</td>
                                        <td>
                                            <div class="row">
                                                <span class="col-md-12">Họ tên:<span class="text-blue"> @(KhachHangViewModel.HO+" "+ KhachHangViewModel.TEN)</span></span>
                                                <span class="col-md-12">Ngày sinh:<span class="text-blue"> @KhachHangViewModel.NGAYSINH.ToString("dd/MM/yyyy")</span></span>
                                                <span class="col-md-12">Giới tính:<span class="text-blue"> @(KhachHangViewModel.GIOITINH == false?"Nam":"Nữ" )</span></span>
                                                <span class="col-md-12">Địa chỉ:<span class="text-blue"> @(KhachHangViewModel.DIACHI)</span></span>
                                                <span class="col-md-12">
                                                    Quận:

                                                    @foreach (var Quan in lstQuan)
                                                    {
                                                        if (KhachHangViewModel.MAQUAN == Quan.MAQUAN)
                                                        {
                                                            <span class="text-blue">@Quan.TENQUAN</span>
                                                            break;
                                                        }
                                                    }
                                                </span>
                                            </div>

                                        </td>
                                        <td>
                                            @KhachHangViewModel.EMAIL
                                        </td>
                                        <td>
                                            @KhachHangViewModel.SDT
                                        </td>
                                        <td>
                                            <a href="#" role="button" onclick="getSuaKhachHang(@KhachHangViewModel.MAKH)" title="Hiệu chỉnh" class="btn btn-primary"><i class="fa fa-edit"></i></a>
                                            <a href="#" role="button" onclick="XoaKhachHang(@KhachHangViewModel.MAKH)" title="Xóa" class="btn btn-danger"><i class="fa fa-remove"></i></a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7" class="text-center"><span>Không có dữ liệu</span></td>
                                </tr>
                            }
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li>
                                @Html.ActionLink("Trước", "Index", new { Trang = Model.CurrentPage > 1 ? Model.CurrentPage - 1 : 1 }, null)
                            </li>
                            @for (int page = 1; page <= Model.PageCount(); page++)
                            {
                                <li class="@(page == Model.CurrentPage ? "active" : null)">
                                    @Html.ActionLink(page.ToString(), "Index", new { Trang = page }, null)
                                </li>
                            }
                            <li>
                                @Html.ActionLink("Sau", "Index", new { Trang = Model.CurrentPage < Model.PageCount() ? Model.CurrentPage + 1 : Model.PageCount() }, null)
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

<div class="modal fade" id="KhachHang_Modal" role="dialog" aria-labelledby="KhachHang_ModalLable" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="KhachHang_ModalBody">

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>

    function getSuaKhachHang(MaKH) {
        $.ajax({
            type: "GET",
            url: "/Admin/KhachHang/SuaKhachHangPartial?MaKH=" + MaKH,
            success: function (res) {
                $("#KhachHang_ModalBody").html(res);
                $("#KhachHang_Modal").modal('show')
            }
        })
    };

    function SuaKhachHang() {

        Swal.fire({
            title: 'Xác nhận hiệu chỉnh?',
            text: "Khi bấm xác nhận dữ liệu không vi phạm điều kiện sẽ được hiệu chỉnh!",
            icon: 'question',
            customClass: 'swal-wide',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'hủy',
            confirmButtonText: 'Xác nhận',
            allowOutsideClick: false
        }).then((result) => {
            if (result.isConfirmed) {
                var form = $('form[name="SuaKhachHang_Form"]');

                form.validate();
                if (!form.valid()) {
                    return;
                }
                else {
                    var data = form.serialize();
                    $.ajax({
                        type: "POST",
                        url: "/Admin/KhachHang/SuaKhachHang",
                        data: data,
                        dataType: "json",
                        success: function (res) {
                            if (res.error == false) {
                                Swal.fire({
                                    title: 'Thành công!',
                                    text: res.title,
                                    icon: 'success',
                                    customClass: 'swal-wide',
                                }).then((d) => {
                                    if (d.isConfirmed) {
                                        $("#KhachHang_Modal").modal('hide')
                                        location.reload();
                                    }
                                })
                            }
                            else {
                                Swal.fire({
                                    title: 'Lỗi!',
                                    text: res.title,
                                    icon: 'error',
                                    customClass: 'swal-wide',
                                })
                                return;
                            }
                        }
                    })
                }
            }
        })
    }

    function XoaKhachHang(MaKH) {
        Swal.fire({
            title: 'Xác nhận xóa khách hàng mã: ' + MaKH + ' ?',
            text: "Khi bấm xác nhận dữ liệu không vi phạm điều kiện sẽ được xóa!",
            icon: 'question',
            customClass: 'swal-wide',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'hủy',
            confirmButtonText: 'Xác nhận',
            allowOutsideClick: false
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "GET",
                    url: "/Admin/KhachHang/XoaKhachHang/?MaKH=" + MaKH,
                    success: function (res) {
                        if (res.error == false) {
                            Swal.fire({
                                title: 'Thành công!',
                                text: res.title,
                                icon: 'success',
                                customClass: 'swal-wide',
                            }).then((d) => {
                                if (d.isConfirmed) {
                                    location.reload();
                                }
                            })
                        }
                        else {
                            Swal.fire({
                                title: 'Lỗi!',
                                text: res.title,
                                icon: 'error',
                                customClass: 'swal-wide',
                            })
                            return;
                        }
                    }
                })
            }
        })
    }
</script>