@using WebsiteBanXeMay.Utils;
@model PageUtil

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .HandleText {
        line-height: 1.5;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
</style>
<div class="">
    @*content-wrapper*@
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Loại sản phẩm
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i> Danh mục</li>
            <li><a href="#">Quản lý danh mục</a></li>
            <li class="active">Loại sản phẩm</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <form action="/Admin/LoaiSanPham" method="get">
                            <div class="row">
                                <div class="col-md-5">
                                    <label>Tên loại</label>
                                    <input type="text" id="txtTenLoaiSanPham"  name="TENLOAI" autocomplete="off"  value="@ViewBag.TENLOAI" class="form-control" />
                                </div>
                                <div class="col-md-1" style="margin-top:2.3%">
                                    <button title="Tìm kiếm" class="btn btn-info"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                        <br />
                        <h3 class="box-title">Danh sách có: <span style="color:red">@(Model.Data.Count() > 0 ? Model.Data.Count() : 0 )</span>  loại sản phẩm</h3>
                        <button title="Thêm" class="btn btn-success" style="float:right!important" onclick="getThemLoaiSanPham()"><i class="fa fa-save"></i></button>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tr>
                                <th>Mã loại</th>
                                <th>Tên loại</th>
                                <th>Hình ảnh</th>
                                <th style="width:7%">Loại</th>
                                <th>Giá</th>
                                <th style="width:7%">Trạng thái</th>
                                <th style="width:30%">Mô tả</th>
                                <th style="width:10%">Tác vụ</th>
                            </tr>
                            @if (Model.Data.Count() > 0)
                            {
                                foreach (var LoaiSanPham in Model.PaginatedResult())
                                {
                                    <tr>
                                        <td>@LoaiSanPham.MALOAI</td>

                                        <td>
                                            @LoaiSanPham.TENLOAI
                                        </td>
                                        <td>
                                            <img src="@Url.Content("~/Assets/upload/images/"+LoaiSanPham.HINHANH)" width="100" height="100" alt="@LoaiSanPham.HINHANH ">
                                        </td>
                                        <td>
                                            @(LoaiSanPham.LOAI==0 ?"Xe số":LoaiSanPham.LOAI==1?"Xe tay ga":"Xe tay côn")
                                        </td>
                                        <td>
                                            <span class="money" style="color:red">@LoaiSanPham.GIA</span>
                                        </td>
                                        <td>
                                            @if (LoaiSanPham.TRANGTHAI == 0)
                                            {
                                                <span class="pull-left">
                                                    <span class="label pull-right bg-green" style="width:35px;">Mới</span>
                                                </span>
                                            }
                                            else if (LoaiSanPham.TRANGTHAI == 1)
                                            {
                                                <span class="pull-left">
                                                    <span class="label pull-right bg-primary" style="width:35px;">Cũ</span>
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="pull-left">
                                                    <span class="label pull-right bg-dark" style="width:35px;">Ngưng bán</span>
                                                </span>
                                            }
                                        </td>
                                        <td>
                                            <span class="HandleText" title="@Html.Raw(LoaiSanPham.MOTA)">@Html.Raw(LoaiSanPham.MOTA)</span>
                                        </td>
                                        <td>
                                            <button title="Hiệu chỉnh" class="btn btn-primary" onclick="getSuaLoaiSanPham('@LoaiSanPham.MALOAI')"><i class="fa fa-edit"></i></button>
                                            <button title="Xóa" class="btn btn-danger" onclick="XoaLoaiSanPham('@LoaiSanPham.MALOAI')"><i class="fa fa-remove"></i></button>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7" class="text-center"><span>Không có dữ liệu</span></td>
                                </tr>
                            }
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li>
                                @Html.ActionLink("Trước", "Index", new { Trang = Model.CurrentPage > 1 ? Model.CurrentPage - 1 : 1 }, null)
                            </li>
                            @for (int page = 1; page <= Model.PageCount(); page++)
                            {
                                <li class="@(page == Model.CurrentPage ? "active" : null)">
                                    @Html.ActionLink(page.ToString(), "Index", new { Trang = page }, null)
                                </li>
                            }
                            <li>
                                @Html.ActionLink("Sau", "Index", new { Trang = Model.CurrentPage < Model.PageCount() ? Model.CurrentPage + 1 : Model.PageCount() }, null)
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<div class="modal fade" id="LoaiSanPhamModal" role="dialog" aria-labelledby="LoaiSanPhamModalLable" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="LoaiSanPhamModalBody">

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script>

    $(function () {
        $("#txtTenLoaiSanPham").autocomplete({
            source: '/Admin/LoaiSanPham/lstTenLoaiSanPham'
        });
    });


    function getThemLoaiSanPham() {
        $.ajax({
            type: "GET",
            url: "/Admin/LoaiSanPham/ThemLoaiSanPhamPartial",
            success: function (res) {
                $("#LoaiSanPhamModalBody").html(res);
                $("#LoaiSanPhamModal").modal('show')
            }
        })
    };

    function getSuaLoaiSanPham(MaLoai) {
        $.ajax({
            type: "GET",
            url: "/Admin/LoaiSanPham/SuaLoaiSanPhamPartial?MaLoai=" + MaLoai,
            success: function (res) {
                $("#LoaiSanPhamModalBody").html(res);
                $("#LoaiSanPhamModal").modal('show')
            }
        })
    };

    function ThemLoaiSanPham() {

        Swal.fire({
            title: 'Xác nhận thêm?',
            text: "Khi bấm xác nhận dữ liệu không vi phạm điều kiện sẽ được thêm!",
            icon: 'question',
            customClass: 'swal-wide',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'hủy',
            confirmButtonText: 'Xác nhận',
            allowOutsideClick: false
        }).then((result) => {
            if (result.isConfirmed) {
                var form = $('form[name="ThemLoaiSanPham_Form"]');

                form.validate();
                if (!form.valid()) {
                    return;
                }
                else {

                    var formData = new FormData();
                    //var token = $('input[name="__RequestVerificationToken"]').val()
                    var HinhAnh = $("#HINHANH").get(0);
                    var MaNCC = $("#MANCC").val();
                    var MaTH = $("#MATH").val();
                    var Loai = $("#LOAI").val();
                    var MaLoai = $("#MALOAI").val();
                    var TenLoai = $("#TENLOAI").val();
                    var Gia = $("#GIA").val();
                    var MoTa = $("#MOTA").val();

                    formData.append("file", HinhAnh.files[0]);
                    formData.append("MANCC", MaNCC);
                    formData.append("MATH", MaTH);
                    formData.append("LOAI", Loai);
                    formData.append("MALOAI", MaLoai);
                    formData.append("TENLOAI", TenLoai);
                    formData.append("GIA", Gia);
                    formData.append("MOTA", MoTa);

                    $.ajax({
                        type: "POST",
                        url: "/Admin/LoaiSanPham/ThemLoaiSanPham",
                        contentType: false,
                        processData: false,
                        data: formData,
                        success: function (res) {
                            if (res.error == false) {
                                Swal.fire({
                                    title: 'Thành công!',
                                    text: res.title,
                                    icon: 'success',
                                    customClass: 'swal-wide',
                                }).then((d) => {
                                    if (d.isConfirmed) {
                                        $("#LoaiSanPhamModal").modal('hide')
                                        location.reload();
                                    }
                                });
                            }
                            else {
                                Swal.fire({
                                    title: 'Lỗi!',
                                    text: res.title,
                                    icon: 'error',
                                    customClass: 'swal-wide',
                                })
                                return;
                            }
                        }
                    })
                }
            }
        })
    }

    function SuaLoaiSanPham() {

        Swal.fire({
            title: 'Xác nhận hiệu chỉnh?',
            text: "Khi bấm xác nhận dữ liệu không vi phạm điều kiện sẽ được hiệu chỉnh!",
            icon: 'question',
            customClass: 'swal-wide',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'hủy',
            confirmButtonText: 'Xác nhận',
            allowOutsideClick: false
        }).then((result) => {
            if (result.isConfirmed) {
                var form = $('form[name="SuaLoaiSanPham_Form"]');

                form.validate();
                if (!form.valid()) {
                    return;
                }
                else {
                    var formData = new FormData();
                    //var token = $('input[name="__RequestVerificationToken"]').val()
                    var HinhAnh = $("#HINHANH").get(0);
                    var MaNCC = $("#MANCC").val();
                    var MaTH = $("#MATH").val();
                    var Loai = $("#LOAI").val();
                    var MaLoai = $("#MALOAI").val();
                    var TenLoai = $("#TENLOAI").val();
                    var Gia = $("#GIA").val();
                    var MoTa = $("#MOTA").val();
                    var TrangThai = $("#TRANGTHAI").val();

                    formData.append("file", HinhAnh.files[0]);
                    formData.append("MANCC", MaNCC);
                    formData.append("MATH", MaTH);
                    formData.append("LOAI", Loai);
                    formData.append("MALOAI", MaLoai);
                    formData.append("TENLOAI", TenLoai);
                    formData.append("GIA", Gia);
                    formData.append("MOTA", MoTa);
                    formData.append("TRANGTHAI", TrangThai);
                    $.ajax({
                        type: "POST",
                        url: "/Admin/LoaiSanPham/SuaLoaiSanPham",
                        contentType: false,
                        processData: false,
                        data: formData,
                        success: function (res) {
                            if (res.error == false) {
                                Swal.fire({
                                    title: 'Thành công!',
                                    text: res.title,
                                    icon: 'success',
                                    customClass: 'swal-wide',
                                }).then((d) => {
                                    if (d.isConfirmed) {
                                        $("#LoaiSanPhamModal").modal('hide')
                                        location.reload();
                                    }
                                })
                            }
                            else {
                                Swal.fire({
                                    title: 'Lỗi!',
                                    text: res.title,
                                    icon: 'error',
                                    customClass: 'swal-wide',
                                })
                                return;
                            }
                        }
                    })
                }
            }
        })
    }

    function XoaLoaiSanPham(id) {
        Swal.fire({
            title: 'Xác nhận xóa ' + id + ' ?',
            text: "Khi bấm xác nhận dữ liệu không vi phạm điều kiện sẽ được xóa!",
            icon: 'question',
            customClass: 'swal-wide',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'hủy',
            confirmButtonText: 'Xác nhận',
            allowOutsideClick: false
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "GET",
                    url: "/Admin/LoaiSanPham/XoaLoaiSanPham/?MaLoai=" + id,
                    success: function (res) {
                        if (res.error == false) {
                            Swal.fire({
                                title: 'Thành công!',
                                text: res.title,
                                icon: 'success',
                                customClass: 'swal-wide',
                            }).then((d) => {
                                if (d.isConfirmed) {
                                    location.reload();
                                }
                            })
                        }
                        else {
                            Swal.fire({
                                title: 'Lỗi!',
                                text: res.title,
                                icon: 'error',
                                customClass: 'swal-wide',
                            })
                            return;
                        }
                    }
                })
            }
        })
    }

</script>