@using WebsiteBanXeMay.ViewModels;
    @model IEnumerable<LoaiSanPhamViewModel>


    @foreach (var LoaiSanPham in Model)
    {
        <div class="col-lg-12">
            <div class="single-product-wrap">
                <div class="product-image">
                    <a href="/LoaiSanPham/ChiTietLoaiSanPham/@LoaiSanPham.MALOAI">
                        <img src=@Url.Content("~/Assets/upload/images/"+LoaiSanPham.HINHANH) height="170" width="180" alt="@LoaiSanPham.HINHANH">
                    </a>
                    @if (LoaiSanPham.TRANGTHAI == 0)
                    {
                        <span class="sticker">Mới</span>
                    }
                </div>
                <div class="product_desc">
                    <div class="product_desc_info">
                        <div class="product-review">
                            <h5 class="manufacturer">
                                <a href="" >@LoaiSanPham.TENTH</a>
                            </h5>
                            <div class="rating-box">
                                <ul class="rating">
                                    @for (int i = 0; i < LoaiSanPham.DANHGIA; i++)
                                    {
                                        <li><i class="fa fa-star-o"></i></li>
                                    }
                                    @for (int i = 0; i < 5 - LoaiSanPham.DANHGIA; i++)
                                    {
                                        <li class="no-star"><i class="fa fa-star-o"></i></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <h4>
                            <a class="product_name" href="/LoaiSanPham/ChiTietLoaiSanPham/@LoaiSanPham.MALOAI">
                                @LoaiSanPham.TENLOAI
                            </a>
                        </h4>
                        <div class="price-box">
                            @if (LoaiSanPham.PHANTRAM > 0)
                            {
                                <span class="new-price new-price-2 money">
                                    @LoaiSanPham.GIAKM
                                </span>
                                <span class="old-price money">
                                    @LoaiSanPham.GIA
                                </span>
                                <span class="discount-percentage">@LoaiSanPham.PHANTRAM %</span>
                            }
                            else
                            {
                                <span class="new-price new-price-2 money">
                                    @LoaiSanPham.GIA
                                </span>
                            }
                        </div>
                    </div>
                    <div class="add-actions">
                        <ul class="add-actions-link">
                            <li class="add-cart active"><a href="#">Thêm vào giỏ</a></li>
                            <li><a class="links-details" href=""><i class="fa fa-heart-o"></i></a></li>
                            <li><a href="/LoaiSanPham/ChiTietLoaiSanPham/@LoaiSanPham.MALOAI" title="Chi tiết loại sản phẩm" class="quick-view-btn"><i class="fa fa-eye"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
