@using WebsiteBanXeMay.Areas.Admin.ViewModels
@model IEnumerable<SanPhamViewModel>

<div class="modal-header">
    <button type="button" class="close" onclick="closeModal_1()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Cập nhật sản phẩm có mã loại: @ViewBag.MALOAI</h4>
</div>

<div class="modal-body">
    <form name="ThemSanPham_Form">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-6">
                <label>Số khung<span class="required">*</span></label>
                <input placeholder="Số khung" name="SOKHUNG" class="form-control" value="" type="text">
            </div>
            <div class="col-md-6">
                <label>Số máy<span class="required">*</span></label>
                <input placeholder="Số máy" name="SOMAY" class="form-control" value="" type="text">
            </div>
        </div>
    </form>
    <div style="margin-top:2%">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Danh sách sản phẩm</h3>
                <button title="Thêm sản phẩm" class="btn btn-warning" style="float:right!important" onclick="Insert_SanPham('@ViewBag.MALOAI')"><i class="fa fa-pencil"></i></button>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="overflow-y:auto!important;max-height:300px!important">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Số khung</th>
                            <th>Số máy</th>
                            <th style="width:25%">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody id="SanPham_DetailTable">
                        @if (Model.Count() > 0)
                        {
                            foreach (var SanPham in Model)
                            {
                                <tr>
                                    <td>@SanPham.SOKHUNG</td>
                                    <td>@SanPham.SOMAY</td>
                                    <td>
                                        <a href="#"  onclick="Delete_SanPham('@SanPham.SOKHUNG','@SanPham.SOMAY')">Xóa</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger pull-right" onclick="closeModal_1()"><i class="fa fa-close" title="Hủy"></i></button>
</div>



