@using WebsiteBanXeMay.Models
@using WebsiteBanXeMay.Areas.Admin.ViewModels

@model IEnumerable<LOAISANPHAM>

@{ var lstChiTiet = ViewBag.lstChiTiet as List<ChiTietPhieuDatViewModel>;}
<div class="modal-header">
    <button type="button" class="close" onclick="HuySuaPhieuDat()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Hiệu chỉnh phiếu đặt có mã: @ViewBag.MaPD</h4>
    <h4 class="modal-title">Nhà cung cấp: @ViewBag.TenNCC</h4>
</div>
@if (Model.Count() > 0)
{
    <div class="modal-body">
        <form name="ThemChiTietPhieuDatTamThoi_Form">
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-7">
                    <label>Loại sản phẩm<span class="required">*</span></label>
                    <select class="form-control select2" name="MALOAI" style="width: 100%;">
                        @foreach (var LoaiSanPham in Model)
                        {
                            <option title="@LoaiSanPham.TENLOAI" value="@LoaiSanPham.MALOAI">Mã loại: @LoaiSanPham.MALOAI - Tên loại: @LoaiSanPham.TENLOAI</option>
                        }
                    </select>
                </div>
                <div class="col-md-2">
                    <label>Số lượng<span class="required">*</span></label>
                    <input placeholder="Số lượng" name="SOLUONG" class="form-control" value="" type="number">
                </div>
                <div class="col-md-3">
                    <label>Giá<span class="required">*</span></label>
                    <input placeholder="Giá" name="GIA" class="form-control" value="" type="number">
                </div>
            </div>
        </form>
        <div style="margin-top:2%">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Chi tiết phiếu đặt</h3>
                    <button title="Thêm vào danh sách tạm" class="btn btn-warning" style="float:right!important" onclick="ThemChiTietPhieuDatTamThoi()"><i class="fa fa-pencil"></i></button>
                </div>
                <!-- /.box-header -->
                <div class="box-body" style="overflow-y:auto!important;max-height:300px!important">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width:4%">STT</th>
                                <th style="width:10%">Mã loại</th>
                                <th>Tên loại</th>
                                <th style="width:10%">Số lượng</th>
                                <th style="width:15%">Giá</th>
                                <th style="width:20%">Tác vụ</th>
                            </tr>
                        </thead>
                        <tbody id="ChiTietPhieuDat_DetailTable">
                            @if (lstChiTiet.Count() > 0)
                            {
                                int i = 1;
                                foreach (var ChiTietPhieuDatViewModel in lstChiTiet)
                                {

                                    <tr>
                                        <td>@(i++)</td>
                                        <td>@ChiTietPhieuDatViewModel.MALOAI</td>
                                        <td>@ChiTietPhieuDatViewModel.TENLOAI</td>
                                        <td>@ChiTietPhieuDatViewModel.SOLUONG</td>
                                        <td>
                                            <span class="money" style="color:red">@ChiTietPhieuDatViewModel.GIA</span>
                                        </td>
                                        <td>
                                            <a href="#" onclick="getSuaChiTietPhieuDatTamThoi('@ChiTietPhieuDatViewModel.MALOAI')">Sửa</a>|
                                            <a href="#" onclick="XoaChiTietPhieuDatTamThoi('@ChiTietPhieuDatViewModel.MALOAI')">Xóa</a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6" class="text-center"><span>Không có dữ liệu</span></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" title="Hủy" class="btn btn-danger pull-right" onclick="HuySuaPhieuDat()"><i class="fa fa-close" title="Hủy"></i></button>
        <button type="button" title="Lưu" class="btn btn-success" onclick="SuaChiTietPhieuDat(@ViewBag.MaPD)" style="margin-right:3%!important"><i class="fa fa-save" title="Lưu"></i></button>
    </div>
}
else
{
    <span>Không có dữ liệu</span>
}
<script>
    $('.money').simpleMoneyFormat();
</script>
